/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #fff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
#jquery-msg-bg {
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background: black;
}
.jquery-msg-content {
  -webkit-background-clip: padding-box;
  padding: 15px;
}
.black-on-white .jquery-msg-content {
  background: white;
  color: #333333;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  filter: alpha(opacity=90);
  box-shadow: 5px 5px 30px 0 black;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  /* ie fix */
  -pie-lazy-init: true;
  behavior: url(PIE.htc);
}
.white-on-black .jquery-msg-content {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background: black;
  color: white;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  /* ie fix */
  -pie-lazy-init: true;
  behavior: url(PIE.htc);
}
/**
  * PWS Tabs jQuery Plugin
  * Author: Alex Chizhov
  * Author Website: http://alexchizhov.com/pwstabs
  * GitHub: https://github.com/alexchizhovcom/pwstabs
  * Version: 1.3.0
  * Version from: 20.08.2015
  * Licensed under the MIT license
  */
@media only screen and (max-width: 60em) {
  .pws_tabs_container.pws_tabs_responsive {
    width: 100% !important;
  }
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll {
    width: 100%;
  }
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li {
    vertical-align: top;
    text-align: center;
  }
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li a {
    margin: 0;
    font-size: 1em;
    line-height: 1.125em;
    overflow: hidden;
  }
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll li a i {
    display: block;
    margin: 0 0 5px 0;
  }
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical {
    display: block;
    position: relative;
  }
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical:after {
    display: block;
    content: '';
    clear: both;
  }
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll {
    width: 100%;
    position: relative;
    float: none;
  }
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll li {
    display: inline-block;
  }
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical ul.pws_tabs_controll li a {
    margin: 0;
  }
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_vertical .pws_tabs_list {
    position: relative;
    float: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .pws_tabs_container.pws_tabs_responsive {
    width: 100% !important;
    position: relative;
  }
  .pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu {
    width: 100%;
    height: 40px;
    background-color: #9bd7d5;
    display: block;
  }
  .pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu a {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 32px;
    font-size: 2em;
    text-align: center;
    padding: 3px 0 0 0;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .pws_tabs_container.pws_tabs_responsive .pws_responsive_small_menu a:hover {
    background-color: #70c5c2;
  }
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 40px;
    left: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup li {
    display: block;
    float: none;
  }
  .pws_tabs_container.pws_tabs_responsive ul.pws_tabs_controll.pws_tabs_menu_popup li a i {
    display: inline-block;
    margin: 0 3px 0 0;
    margin: 0 0.1875em 0 0;
  }
  .pws_tabs_container.pws_tabs_responsive.pws_tabs_rtl ul.pws_tabs_controll.pws_tabs_menu_popup li a i {
    display: inline-block;
    margin: 0 0 0 3px;
    margin: 0 0 0 0.1875em;
  }
}
.pws_tabs_container {
  width: 100%;
}
.pws_tabs_container ul.pws_tabs_controll {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pws_tabs_container ul.pws_tabs_controll li {
  display: inline-block;
}
.pws_tabs_container ul.pws_tabs_controll li a {
  display: block;
  background-color: #9bd7d5;
  padding: 15px 20px;
  padding: 0.9375em 1.25em;
  text-decoration: none;
  color: #fff;
  margin-right: 3px;
  cursor: pointer;
}
.pws_tabs_container ul.pws_tabs_controll li a:hover {
  background-color: #70c5c2;
}
.pws_tabs_container ul.pws_tabs_controll li a i {
  margin-right: 8px;
}
.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_noname i {
  margin-right: 0;
  margin-left: 0;
}
.pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
  color: #505050;
}
.pws_tabs_list {
  display: block;
  background-color: #fff;
  height: auto;
  padding: 20px;
  padding: 1.25em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s ease-in-out 0.3s;
  overflow: hidden;
  position: relative;
}
.pws_tab_single {
  position: absolute;
  top: 20px;
  padding-right: 20px;
  padding-right: 1.25em;
  transition: all 0.3s ease-in-out 0;
}
/**
  * ######################################################
  * Right To Left Styles
  * ######################################################
  */
.pws_tabs_container.pws_tabs_rtl {
  text-align: right;
  direction: rtl;
}
.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a {
  margin-right: 0;
  margin-left: 3px;
}
.pws_tabs_container.pws_tabs_rtl ul.pws_tabs_controll li a i {
  margin-left: 8px;
  margin-right: 0;
}
.pws_tabs_container.pws_tabs_rtl .pws_tab_single {
  padding-right: 0;
  padding-left: 20px;
  padding-left: 1.25em;
}
/**
  * ######################################################
  * Vertical Position
  * ######################################################
  */
.pws_tabs_container.pws_tabs_vertical {
  display: block;
  position: relative;
}
.pws_tabs_container.pws_tabs_vertical:after {
  display: block;
  content: '';
  clear: both;
}
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll {
  width: auto;
  position: relative;
  float: left;
}
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li {
  display: block;
}
.pws_tabs_container.pws_tabs_vertical ul.pws_tabs_controll li a {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 3px;
}
.pws_tabs_container.pws_tabs_vertical .pws_tabs_list {
  position: relative;
  float: left;
}
/**
  * ######################################################
  * Colors - Themes @1.2.0
  * ######################################################
  */
/**
  * ###########################
  * violet
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_violet .pws_responsive_small_menu {
  background-color: #c72c66;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_violet .pws_responsive_small_menu a:hover {
  background-color: #a6164c;
}
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a {
  background-color: #c72c66;
}
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a:hover {
  background-color: #a6164c;
}
.pws_tabs_container.pws_theme_violet ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * green
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_green .pws_responsive_small_menu {
  background-color: #86c447;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_green .pws_responsive_small_menu a:hover {
  background-color: #539312;
}
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a {
  background-color: #86c447;
}
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a:hover {
  background-color: #539312;
}
.pws_tabs_container.pws_theme_green ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * yellow
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_yellow .pws_responsive_small_menu {
  background-color: #fdb813;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_yellow .pws_responsive_small_menu a:hover {
  background-color: #ffa500;
}
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a {
  background-color: #fdb813;
}
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a:hover {
  background-color: #ffa500;
}
.pws_tabs_container.pws_theme_yellow ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * gold
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_gold .pws_responsive_small_menu {
  background-color: #f89827;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_gold .pws_responsive_small_menu a:hover {
  background-color: #fa7b00;
}
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a {
  background-color: #f89827;
}
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a:hover {
  background-color: #fa7b00;
}
.pws_tabs_container.pws_theme_gold ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * orange
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_orange .pws_responsive_small_menu {
  background-color: #f15b42;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_orange .pws_responsive_small_menu a:hover {
  background-color: #fd2e0b;
}
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a {
  background-color: #f15b42;
}
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a:hover {
  background-color: #fd2e0b;
}
.pws_tabs_container.pws_theme_orange ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * red
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_red .pws_responsive_small_menu {
  background-color: #e41937;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_red .pws_responsive_small_menu a:hover {
  background-color: #d70726;
}
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a {
  background-color: #e41937;
}
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a:hover {
  background-color: #d70726;
}
.pws_tabs_container.pws_theme_red ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * purple
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_purple .pws_responsive_small_menu {
  background-color: #672e8d;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_purple .pws_responsive_small_menu a:hover {
  background-color: #470871;
}
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a {
  background-color: #672e8d;
}
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a:hover {
  background-color: #470871;
}
.pws_tabs_container.pws_theme_purple ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * grey
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_grey .pws_responsive_small_menu {
  background-color: #4d4d4f;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_grey .pws_responsive_small_menu a:hover {
  background-color: #000000;
}
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a {
  background-color: #4d4d4f;
}
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a:hover {
  background-color: #000000;
}
.pws_tabs_container.pws_theme_grey ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fff;
}
/**
  * ###########################
  * violet
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_violet .pws_responsive_small_menu {
  background-color: #c72c66;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_violet .pws_responsive_small_menu a:hover {
  background-color: #a6164c;
}
.pws_tabs_container.pws_theme_dark_violet .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_violet ul.pws_tabs_controll li a {
  background-color: #c72c66;
}
.pws_tabs_container.pws_theme_dark_violet ul.pws_tabs_controll li a:hover {
  background-color: #a6164c;
}
.pws_tabs_container.pws_theme_dark_violet ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * green
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_green .pws_responsive_small_menu {
  background-color: #86c447;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_green .pws_responsive_small_menu a:hover {
  background-color: #539312;
}
.pws_tabs_container.pws_theme_dark_green .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_green ul.pws_tabs_controll li a {
  background-color: #86c447;
}
.pws_tabs_container.pws_theme_dark_green ul.pws_tabs_controll li a:hover {
  background-color: #539312;
}
.pws_tabs_container.pws_theme_dark_green ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * yellow
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_yellow .pws_responsive_small_menu {
  background-color: #fdb813;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_yellow .pws_responsive_small_menu a:hover {
  background-color: #ffa500;
}
.pws_tabs_container.pws_theme_dark_yellow .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_yellow ul.pws_tabs_controll li a {
  background-color: #fdb813;
}
.pws_tabs_container.pws_theme_dark_yellow ul.pws_tabs_controll li a:hover {
  background-color: #ffa500;
}
.pws_tabs_container.pws_theme_dark_yellow ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * gold
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_gold .pws_responsive_small_menu {
  background-color: #f89827;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_gold .pws_responsive_small_menu a:hover {
  background-color: #fa7b00;
}
.pws_tabs_container.pws_theme_dark_gold .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_gold ul.pws_tabs_controll li a {
  background-color: #f89827;
}
.pws_tabs_container.pws_theme_dark_gold ul.pws_tabs_controll li a:hover {
  background-color: #fa7b00;
}
.pws_tabs_container.pws_theme_dark_gold ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * orange
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_orange .pws_responsive_small_menu {
  background-color: #f15b42;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_orange .pws_responsive_small_menu a:hover {
  background-color: #fd2e0b;
}
.pws_tabs_container.pws_theme_dark_orange .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_orange ul.pws_tabs_controll li a {
  background-color: #f15b42;
}
.pws_tabs_container.pws_theme_dark_orange ul.pws_tabs_controll li a:hover {
  background-color: #fd2e0b;
}
.pws_tabs_container.pws_theme_dark_orange ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * red
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_red .pws_responsive_small_menu {
  background-color: #e41937;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_red .pws_responsive_small_menu a:hover {
  background-color: #d70726;
}
.pws_tabs_container.pws_theme_dark_red .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_red ul.pws_tabs_controll li a {
  background-color: #e41937;
}
.pws_tabs_container.pws_theme_dark_red ul.pws_tabs_controll li a:hover {
  background-color: #d70726;
}
.pws_tabs_container.pws_theme_dark_red ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * purple
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_purple .pws_responsive_small_menu {
  background-color: #672e8d;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_purple .pws_responsive_small_menu a:hover {
  background-color: #470871;
}
.pws_tabs_container.pws_theme_dark_purple .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_purple ul.pws_tabs_controll li a {
  background-color: #672e8d;
}
.pws_tabs_container.pws_theme_dark_purple ul.pws_tabs_controll li a:hover {
  background-color: #470871;
}
.pws_tabs_container.pws_theme_dark_purple ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * grey
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_grey .pws_responsive_small_menu {
  background-color: #4d4d4f;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_grey .pws_responsive_small_menu a:hover {
  background-color: #000000;
}
.pws_tabs_container.pws_theme_dark_grey .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_grey ul.pws_tabs_controll li a {
  background-color: #4d4d4f;
}
.pws_tabs_container.pws_theme_dark_grey ul.pws_tabs_controll li a:hover {
  background-color: #000000;
}
.pws_tabs_container.pws_theme_dark_grey ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ###########################
  * cyan
  * ###########################
  */
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_cyan .pws_responsive_small_menu {
  background-color: #9bd7d5;
}
.pws_tabs_container.pws_tabs_responsive.pws_theme_dark_cyan .pws_responsive_small_menu a:hover {
  background-color: #70c5c2;
}
.pws_tabs_container.pws_theme_dark_cyan .pws_tabs_list {
  background-color: #fafafa;
}
.pws_tabs_container.pws_theme_dark_cyan ul.pws_tabs_controll li a {
  background-color: #9bd7d5;
}
.pws_tabs_container.pws_theme_dark_cyan ul.pws_tabs_controll li a:hover {
  background-color: #70c5c2;
}
.pws_tabs_container.pws_theme_dark_cyan ul.pws_tabs_controll li a.pws_tab_active {
  background-color: #fafafa;
}
/**
  * ######################################################
  * Effect: none
  * ######################################################
  */
.pws_tabs_noeffect .pws_tabs_list {
  transition: all 0.1s ease-in-out 0;
}
.pws_tabs_noeffect .pws_tab_single {
  transition: none;
}
.pws_tabs_container.pws_none .pws_hide {
  display: none;
}
.pws_tabs_container.pws_none .pws_show {
  display: block;
}
/**
  * ######################################################
  * Effect: scale
  * ######################################################
  */
.pws_tabs_container.pws_scale .pws_hide {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  transition: all 0.3s ease-in-out 0.3s;
}
.pws_tabs_container.pws_scale .pws_show {
  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-delay: .3s;
  transition: all 0.3s ease-in-out 0.3s;
}
/**
  * ######################################################
  * Effect: slideleft
  * ######################################################
  */
.pws_tabs_container.pws_slideleft .pws_hide {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.3s;
}
.pws_tabs_container.pws_slideleft .pws_show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;
  transition: all 0.3s ease-in-out 0.3s;
}
/**
  * ######################################################
  * Effect: slideright
  * ######################################################
  */
.pws_tabs_container.pws_slideright .pws_hide {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.3s;
}
.pws_tabs_container.pws_slideright .pws_show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;
  transition: all 0.3s ease-in-out 0.3s;
}
/**
  * ######################################################
  * Effect: slidetop
  * ######################################################
  */
.pws_tabs_container.pws_slidetop .pws_hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.3s;
}
.pws_tabs_container.pws_slidetop .pws_show {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;
  transition: all 0.3s ease-in-out 0.3s;
}
/**
  * ######################################################
  * Effect: slidedown
  * ######################################################
  */
.pws_tabs_container.pws_slidedown .pws_hide {
  -webkit-transform: translateY(200%);
  transform: translateY(200%);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  transition: all 0.3s ease-in-out 0.3s;
}
.pws_tabs_container.pws_slidedown .pws_show {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition-delay: .3s;
  transition: all 0.3s ease-in-out 0.3s;
}
.cssload-loader {
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  position: relative;
  border: 6px solid #000000;
  animation: cssload-loader 3.8s infinite ease;
  -o-animation: cssload-loader 3.8s infinite ease;
  -ms-animation: cssload-loader 3.8s infinite ease;
  -webkit-animation: cssload-loader 3.8s infinite ease;
  -moz-animation: cssload-loader 3.8s infinite ease;
}
.cssload-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgba(255, 230, 0, 0.98);
  animation: cssload-loader-inner 3.8s infinite ease-in;
  -o-animation: cssload-loader-inner 3.8s infinite ease-in;
  -ms-animation: cssload-loader-inner 3.8s infinite ease-in;
  -webkit-animation: cssload-loader-inner 3.8s infinite ease-in;
  -moz-animation: cssload-loader-inner 3.8s infinite ease-in;
}
@keyframes cssload-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  /* Target only IE7 and IE8 with this hack */
  visibility: hidden\9;
  opacity: .01;
  transition: .2s;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  /* Target only IE7 and IE8 with this hack */
  visibility: visible\9;
  opacity: 0.99;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
/* Tablesorter Custom Bootstrap LESS Theme by Rob Garrison

To create your own theme, modify the code below and run it through
a LESS compiler, like this one: http://leafo.net/lessphp/editor.html
or download less.js from http://lesscss.org/

Test out these custom less files live
 Basic Theme : http://codepen.io/Mottie/pen/eqBbn
 Bootstrap   : http://codepen.io/Mottie/pen/Ltzpi
 Metro Style : http://codepen.io/Mottie/pen/gCslk

*/
/*** theme ***/
/*** fonts ***/
/*** color definitions ***/
/* for best results, only change the hue (240),
   leave the saturation (60%) and luminosity (80%) alone
   pick the color from here: http://hslpicker.com/#99E699 */
/* darken(@headerBackground, 10%); */
/* desaturate(@headerAsc, 5%); */
/* it might be best to match the document body background color here */
/* ajax error message (added to thead) */
/* becomes height using padding (so it's divided by 2) */
/* 20px should be slightly wider than the icon width to avoid overlap */
/* url(icons/loading.gif); */
/* zebra striping */
.allRows {
  background-color: #fff;
  color: #000;
}
.evenRows {
  background-color: #ffffff;
}
.oddRows {
  background-color: #f7f7fd;
}
/* hovered rows */
.oddHovered {
  background-color: #cccccc;
}
.evenHovered {
  background-color: #e6e6e6;
}
/* Columns widget */
/* saturate( darken( desaturate(@headerBackground, 10%), 10% ), 30%); */
/* Filter widget transition */
.filterWidgetTransition {
  transition: line-height 0.1s ease;
}
/*** icon block ***/
.iconPosition {
  font-size: 11px;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -7px;
  /* half the icon height; older IE doesn't like this */
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  line-height: 14px;
}
/* black */
/* white */
/* automatically choose the correct arrow/text color */
/* variable theme name - requires less.js 1.3+;
   or just replace (!".@{theme}") with the contents of @theme
*/
.tablesorter-bootstrap {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #cdcdcd;
  width: 100%;
  /* style th's outside of the thead */
  /* style header */
  /* bootstrap uses <i> for icons */
  /* tfoot */
  /* optional disabled input styling */
  /* body */
  /* hovered row colors
	you'll need to add additional lines for
	rows with more than 2 child rows
	*/
  /* table processing indicator - indeterminate spinner */
  /* Column Widget - column sort colors */
  /* caption (non-theme matching) */
  /* filter widget */
  /* hidden filter row */
  /* rows hidden by filtering (needed for child rows) */
  /* ajax error row */
}
.tablesorter-bootstrap th,
.tablesorter-bootstrap thead td {
  font: 14px bold Arial, Sans-serif;
  font-weight: bold;
  background-color: #adadeb;
  color: #000;
  border-collapse: collapse;
  margin: 0 0 18px;
  padding: 4px;
}
.tablesorter-bootstrap tbody td,
.tablesorter-bootstrap tfoot th,
.tablesorter-bootstrap tfoot td {
  padding: 4px;
  vertical-align: top;
}
.tablesorter-bootstrap .tablesorter-header {
  cursor: pointer;
}
.tablesorter-bootstrap .tablesorter-header-inner {
  position: relative;
  padding: 4px 20px 4px 4px;
}
.tablesorter-bootstrap .tablesorter-header-inner i.tablesorter-icon {
  font-size: 11px;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -7px;
  /* half the icon height; older IE doesn't like this */
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  line-height: 14px;
}
.tablesorter-bootstrap .tablesorter-header.sorter-false {
  background-image: none;
  cursor: default;
}
.tablesorter-bootstrap .tablesorter-headerAsc {
  background-color: #8c85e0;
}
.tablesorter-bootstrap .tablesorter-headerDesc {
  background-color: #d6d9f5;
}
.tablesorter-bootstrap .bootstrap-icon-unsorted {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAMAAADOvxanAAAAVFBMVEUAAABCQkJZWVkZGRnJyckgICAZGRkZGRn8/PweHh4dHR0aGhoaGhpUVFQbGxvQ0NDc3NxMTExSUlIbGxvr6+s4ODhKSkogICAtLS00NDQzMzMnJydSEPrQAAAAGHRSTlMA1ssZRLgdAQbDyisqsZo8QdXUq0r9xPepSRwiAAAAX0lEQVQI13XHSQKAIAwEwQAKxn13Ev7/T2Pu9qmarJKPXIicI4PH4hxaKNrhm2S8bJK5h4YzKHrzJNtK6yYT/TdXzpS5zuYg4MSQYF6i4IHExdw1UVRi05HPrrvT53a+qyMFC9t04gcAAAAASUVORK5CYII=);
  color: #000;
}
.tablesorter-bootstrap tfoot .tablesorter-headerAsc,
.tablesorter-bootstrap tfoot .tablesorter-headerDesc {
  /* remove sort arrows from footer */
  background-image: none;
}
.tablesorter-bootstrap .disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: not-allowed;
}
.tablesorter-bootstrap tbody {
  /* Zebra Widget - row alternating colors */
}
.tablesorter-bootstrap tbody td {
  background-color: #fff;
  color: #000;
  padding: 4px;
  vertical-align: top;
}
.tablesorter-bootstrap tbody tr.odd > td {
  background-color: #f7f7fd;
}
.tablesorter-bootstrap tbody tr.even > td {
  background-color: #ffffff;
}
.tablesorter-bootstrap tbody > tr.hover > td,
.tablesorter-bootstrap tbody > tr:hover > td,
.tablesorter-bootstrap tbody > tr:hover + tr.tablesorter-childRow > td,
.tablesorter-bootstrap tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.tablesorter-bootstrap tbody > tr.even.hover > td,
.tablesorter-bootstrap tbody > tr.even:hover > td,
.tablesorter-bootstrap tbody > tr.even:hover + tr.tablesorter-childRow > td,
.tablesorter-bootstrap tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
  background-color: #e6e6e6;
}
.tablesorter-bootstrap tbody > tr.odd.hover > td,
.tablesorter-bootstrap tbody > tr.odd:hover > td,
.tablesorter-bootstrap tbody > tr.odd:hover + tr.tablesorter-childRow > td,
.tablesorter-bootstrap tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
  background-color: #cccccc;
}
.tablesorter-bootstrap .tablesorter-processing {
  background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=');
  background-position: center center;
  background-repeat: no-repeat;
}
.tablesorter-bootstrap tr.odd td.primary {
  background-color: #b8adeb;
}
.tablesorter-bootstrap td.primary,
.tablesorter-bootstrap tr.even td.primary {
  background-color: #dbd6f5;
}
.tablesorter-bootstrap tr.odd td.secondary {
  background-color: #dbd6f5;
}
.tablesorter-bootstrap td.secondary,
.tablesorter-bootstrap tr.even td.secondary {
  background-color: #edebfa;
}
.tablesorter-bootstrap tr.odd td.tertiary {
  background-color: #edebfa;
}
.tablesorter-bootstrap td.tertiary,
.tablesorter-bootstrap tr.even td.tertiary {
  background-color: #ffffff;
}
.tablesorter-bootstrap caption {
  background-color: #fff;
}
.tablesorter-bootstrap .tablesorter-filter-row input,
.tablesorter-bootstrap .tablesorter-filter-row select {
  width: 98%;
  margin: 0;
  padding: 4px;
  color: #333;
  background-color: #fff;
  border: 1px solid #bbb;
  box-sizing: border-box;
  transition: line-height 0.1s ease;
}
.tablesorter-bootstrap .tablesorter-filter-row {
  background-color: #eee;
}
.tablesorter-bootstrap .tablesorter-filter-row td {
  background-color: #eee;
  line-height: normal;
  text-align: center;
  /* center the input */
  transition: line-height 0.1s ease;
}
.tablesorter-bootstrap .tablesorter-filter-row.hideme td {
  padding: 2px;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
.tablesorter-bootstrap .tablesorter-filter-row.hideme * {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  /* don't use visibility: hidden because it disables tabbing */
  opacity: 0;
  filter: alpha(opacity=0);
}
.tablesorter-bootstrap .filtered {
  display: none;
}
.tablesorter-bootstrap .tablesorter-errorRow td {
  text-align: center;
  cursor: pointer;
  background-color: #e6bf99;
}
@font-face {
  font-family: Oswald-Regular;
  src: url(/ttf/Oswald-Regular.ttf);
}
@font-face {
  font-family: Oswald-Bold;
  src: url(/ttf/Oswald-Bold.ttf);
}
@font-face {
  font-family: Oswald-Light;
  src: url(/ttf/Oswald-Light.ttf);
}
@font-face {
  font-family: catull-regular;
  src: url(/ttf/catull-regular.ttf);
}
body {
  font-family: Oswald-Light;
  height: 100%;
}
body a {
  color: #000000;
}
body #tiling {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
body #tiling .tile {
  width: 25%;
  height: 50%;
  float: left;
  background-color: #696969;
}
body #menu {
  width: 100%;
  background-color: #000000;
}
body #menu #logo {
  background-color: #000000;
  border: 15px solid #000000;
  position: relative;
  top: 0;
}
body #menu #links {
  position: absolute;
  top: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald-Regular;
  font-size: 1em;
  letter-spacing: 0.3em;
}
body #menu #links .link {
  float: right;
  color: #FFFFFF;
  cursor: pointer;
}
body #menu #links .link:hover,
body #menu #links .selected {
  color: #000000;
  background-color: #FFFFFF;
}
body #content {
  position: fixed;
}
body #content .page_title {
  position: fixed;
  z-index: 2;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  display: none;
}
body #content .page_footer {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
body #content .nano {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
}
body #content .nano .nano-content {
  height: 295px;
  width: 80%;
  position: fixed;
  margin-left: 10%;
  margin-top: 75px;
}
body #content .nano .nano-pane {
  background: #888;
}
body #content .nano .nano-slider {
  background: #111;
}
body #content .arrow {
  position: fixed;
  left: 90%;
}
body #content .fa-angle-up {
  top: 75px;
}
body #content .fa-angle-down {
  top: 353px;
}
body #content #table_orari {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
body #content #table_orari thead {
  position: fixed;
  top: 45px;
}
body #content .nome_corso {
  text-align: left;
  border-bottom: 1px solid #000000;
  padding: 3px;
  text-transform: uppercase;
}
body #content .orario,
body #content .giorno,
body #content .note {
  text-align: center;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  padding: 3px;
}
body #content td .note {
  text-align: left;
}
body #content td .giorno {
  text-transform: capitalize;
}
body #content tbody tr:hover {
  background-color: #000000;
  color: #FFFFFF;
}
body #content th .nome_corso,
body #content th .orario,
body #content th .giorno,
body #content th .note {
  border: 0;
}
body #content .side {
  background-color: #FFFFFF;
  opacity: 0.8;
}
body #content .panel {
  width: 50%;
  height: 100%;
  float: left;
}
body #content .left_panel {
  background-color: #000000;
}
body #content .right_panel {
  background-color: #FFFFFF;
}
body #content #contatti_details {
  margin: 0;
  padding: 0;
  margin-left: 2%;
  list-style: none;
  font-size: 1.7em;
}
body #content #contatti_details .right_column {
  text-align: center;
  width: 100%;
}
body #content #contatti_form {
  text-align: center;
}
body #content #contatti_form ul {
  margin: 0;
  padding: 0;
  margin-left: 10%;
  list-style: none;
  width: 80%;
}
body #content #contatti_form ul li {
  margin-top: 10px;
}
body #content #contatti_form ul .input {
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding-left: 10px;
}
body #content #contatti_form ul textarea {
  resize: none;
  height: 190px;
}
body #content #contatti_form .button {
  color: #000000;
  background-color: transparent;
  color: #FFFFFF;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
body #content #contatti_form #invia {
  float: right;
}
body #content #contatti_form #errorContainer {
  float: left;
  width: 70%;
  height: 48px;
  color: #FFE600;
  text-align: left;
  font-size: 1em;
  font-family: Oswald-Regular;
  margin-top: -10px;
  position: relative;
}
body #content #contatti_form #errorContainer .text {
  position: absolute;
  bottom: 0px;
}
body #content #contatti_form label.error {
  display: none;
}
body .shadow_right {
  box-shadow: 10px 10px 10px 0px #343334;
}
body .shadow_left {
  box-shadow: -10px 10px 10px 0px #343334;
}
body footer {
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
  background-color: #CECECE;
  opacity: 0.8;
  text-align: center;
  line-height: 10px;
  font-size: 0.7em;
}
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=app.css.map */
