@import "main_top";

@import "font-awesome";

@import (less) "jquery.msg.css";

@import (less) "jquery.pwstabs.css";

@import "loader";

@import "nanoscroller";

@import "bootstrap";

@font-face {
    font-family: Oswald-Regular;
    src: url(/ttf/Oswald-Regular.ttf);
}

@font-face {
    font-family: Oswald-Bold;
    src: url(/ttf/Oswald-Bold.ttf);
}

@font-face {
    font-family: Oswald-Light;
    src: url(/ttf/Oswald-Light.ttf);
}

@font-face {
    font-family: catull-regular;
    src: url(/ttf/catull-regular.ttf);
}

body {
	font-family: Oswald-Light;
	height: 100%;

	a {
		color: #000000;
	}

	#tiling{
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: -1;

		.tile{
			width: 25%;
			height: 50%;
			float: left;
			background-color: #696969;
		}
	}

	#menu {
		width: 100%;
		background-color: #000000;

		#logo {
			background-color: #000000;
			border: 15px solid #000000;
			position: relative;
			top: 0;
		}

		#links {
			position: absolute;
			top: 0;
			text-align: center;
			text-transform: uppercase;
			font-family: Oswald-Regular;
			font-size: 1em;
			letter-spacing: 0.3em;

			.link {
				float: right;
				color: #FFFFFF;
				cursor: pointer;
			}

			.link:hover,
			.selected{
				color: #000000;
				background-color: #FFFFFF;
			}
		}
	}

	@nano-content-mTop: 75px;
	#content {
		position: fixed;

		.page_title {
			position: fixed;
			z-index: 2;
			margin: 0;
			text-align: left;
			text-transform: uppercase;
			display: none;
		}

		.page_footer {
			position: fixed;
			bottom: 20px;
			text-align: center;
			width: 100%;
		}

		.nano {
			background: #FFFFFF;
			width: 100%;
			height: 100%;
		}

		@nano-content-height: 295px;
		.nano .nano-content {
			height: @nano-content-height;
			width: 80%;
			position: fixed;
			margin-left: 10%;
			margin-top: @nano-content-mTop;
		}
		.nano .nano-pane   {
			background: #888;
		}
		.nano .nano-slider {
			background: #111;
		}

		.arrow {
			// visibility: hidden;
			position: fixed;
			left: 90%;
		}

		.fa-angle-up {
			top: @nano-content-mTop;
		}

		.fa-angle-down {
			top: @nano-content-mTop + @nano-content-height - 17px;
		}

		#table_orari {
			display: none;
			margin-left: auto;
			margin-right: auto;

			thead {
				position: fixed;
				top: @nano-content-mTop - 30;
			}
		}

		@cellpadding: 3px;
		.nome_corso {
			text-align: left;
			border-bottom: 1px solid #000000;
			padding: @cellpadding;
			text-transform: uppercase;
		}

		.orario,
		.giorno,
		.note {
			text-align: center;
			border-bottom: 1px solid #000000;
			border-left: 1px solid #000000;
			padding: @cellpadding;
		}

		td .note {
			text-align: left;
		}

		td .giorno {
			text-transform: capitalize;
		}

		tbody tr:hover {
			background-color: #000000;
			color: #FFFFFF;
		}

		th .nome_corso,
		th .orario,
		th .giorno,
		th .note {
			border: 0;
		}

		.side {
			background-color: #FFFFFF;
			opacity: 0.8;
		}

		.panel {
			width: 50%;
			height: 100%;
			float: left;
		}

		.left_panel {
			background-color: #000000;
		}

		.right_panel {
			background-color: #FFFFFF;	
		}

		#contatti_details {
			margin: 0;
			padding: 0;
			margin-left: 2%;
			list-style: none;
			font-size: 1.7em;

			 .right_column {
			 	text-align: center;
			 	width: 100%;
			 }
		}

		#contatti_form {
			text-align: center;
			ul {
				margin: 0;
				padding: 0;
				margin-left: 10%;
				list-style: none;
				width: 80%;

				li {
					margin-top: 10px;
				}

				.input {
					width: 100%;
					background-color: transparent;
					color: #FFFFFF;
					border: 1px solid #FFFFFF;
					padding-left: 10px;
				}

				textarea {
					resize: none;
					height: 190px;
				}
			}
			.button {
				color: #000000;
				background-color: transparent;
				color: #FFFFFF;
				border: 0;
				text-transform: uppercase;
				letter-spacing: 0.3em;
			}

			#invia {
				float: right;
			}

			#errorContainer {
				float: left;
				width: 70%;
				height: 48px;
				color: #FFE600;
				text-align: left;
				font-size: 1em;
				font-family: Oswald-Regular;
				margin-top: -10px;
				position: relative;

				.text {
					position: absolute;
					bottom: 0px;
				}
			}

			label.error {
				display: none;
			}
		}
	}

	@shadow_percent: 10px;
	.shadow_right{			
		-webkit-box-shadow:  @shadow_percent @shadow_percent 0px rgba(52,51,52,1.0);
		-moz-box-shadow: @shadow_percent @shadow_percent @shadow_percent 0px rgba(52,51,52,1.0);
		box-shadow: @shadow_percent @shadow_percent @shadow_percent 0px rgba(52,51,52,1.0);
	}

	.shadow_left{
		-webkit-box-shadow:  @shadow_percent @shadow_percent 0px rgba(52,51,52,1.0);
		-moz-box-shadow: @shadow_percent @shadow_percent @shadow_percent 0px rgba(52,51,52,1.0);
		box-shadow: -@shadow_percent @shadow_percent @shadow_percent 0px rgba(52,51,52,1.0);
	}

	@footer_height: 20px;
	footer {
		position: fixed;
		bottom: 0;
		height: @footer_height;
		width: 100%;
		background-color: #CECECE;
		opacity: 0.8;
		text-align: center;
		line-height: @footer_height / 2;
		font-size: 0.7em;
	}
}

@import "main_bottom";